In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_/Estabelecimentos_202007.csv')
data.head()

/home/tuts/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (8,9,10,11,23,24,235,236) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CNES,CODUFMUN,COD_CEP,CPF_CNPJ,PF_PJ,NIV_DEP,CNPJ_MAN,COD_IR,REGSAUDE,MICR_REG,...,mun_ALTITUDE,mun_AREA,uf_SIGLA_UF,uf_NOME_UF,ano_competen,mes_competen,def_competen,mun_coordenadas,LATITUDE,LONGITUDE
0,153281,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
1,257184,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
2,258555,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
3,3006166,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883
4,3382745,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883

In [4]:
mid = int(len(data)*.5)
mid

161028

In [5]:
f_half = data.iloc[:mid]
s_half = data.iloc[mid:]

In [6]:
data.shape

(322057, 247)

In [7]:
f_half.shape

(161028, 247)

In [8]:
s_half.shape

(161029, 247)

In [9]:
f_half.shape[0] + s_half.shape[0]

322057

In [10]:
f_half.head()

,CNES,CODUFMUN,COD_CEP,CPF_CNPJ,PF_PJ,NIV_DEP,CNPJ_MAN,COD_IR,REGSAUDE,MICR_REG,...,mun_ALTITUDE,mun_AREA,uf_SIGLA_UF,uf_NOME_UF,ano_competen,mes_competen,def_competen,mun_coordenadas,LATITUDE,LONGITUDE
0,153281,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
1,257184,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
2,258555,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
3,3006166,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883
4,3382745,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883

In [11]:
s_half.head()

,CNES,CODUFMUN,COD_CEP,CPF_CNPJ,PF_PJ,NIV_DEP,CNPJ_MAN,COD_IR,REGSAUDE,MICR_REG,...,mun_ALTITUDE,mun_AREA,uf_SIGLA_UF,uf_NOME_UF,ano_competen,mes_competen,def_competen,mun_coordenadas,LATITUDE,LONGITUDE
161028,6673848,411370,86010180,12331813000143,3,1,0,NaN,17,NaN,...,585.0,1650.809,PR,PARANA,2020,7,2020/07,"-23.31000,-51.16300",-23.31000,-51.36520
161029,6673856,411370,86060000,12099584000183,3,1,0,NaN,17,NaN,...,585.0,1650.809,PR,PARANA,2020,7,2020/07,"-23.31000,-51.16300",-23.23065,-51.61630
161030,6682618,411370,86010630,502070919,1,1,0,NaN,17,NaN,...,585.0,1650.809,PR,PARANA,2020,7,2020/07,"-23.31000,-51.16300",-23.32411,-51.15132
161031,6682626,411370,86020150,420424000105,3,1,0,NaN,17,NaN,...,585.0,1650.809,PR,PARANA,2020,7,2020/07,"-23.31000,-51.16300",-23.30575,-51.16799
161032,6682634,411370,86061332,12490131000183,3,1,0,NaN,17,NaN,...,585.0,1650.809,PR,PARANA,2020,7,2020/07,"-23.31000,-51.16300",-23.31000,-51.16300

In [15]:
mid1 = int(f_half.shape[0]*.5)
mid2 = int(s_half.shape[0]*.5)

split_1_1 = f_half.iloc[:mid1]
split_1_2 = f_half.iloc[mid1:]

split_2_1 = s_half.iloc[:mid2]
split_2_2 = s_half.iloc[mid2:]

In [16]:
split_1_1.head()

,CNES,CODUFMUN,COD_CEP,CPF_CNPJ,PF_PJ,NIV_DEP,CNPJ_MAN,COD_IR,REGSAUDE,MICR_REG,...,mun_ALTITUDE,mun_AREA,uf_SIGLA_UF,uf_NOME_UF,ano_competen,mes_competen,def_competen,mun_coordenadas,LATITUDE,LONGITUDE
0,153281,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
1,257184,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
2,258555,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",NaN,NaN
3,3006166,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883
4,3382745,120001,69945000,0,3,3,84306737000127,NaN,NaN,NaN,...,25.0,1574.55,AC,ACRE,2020,7,2020/07,"-9.82800,-66.88300",-9.828,-66.883

In [17]:
split_1_1.shape

(80514, 247)

In [18]:
split_1_2.shape

(80514, 247)

In [19]:
split_2_1.shape

(80514, 247)

In [20]:
split_2_2.shape

(80515, 247)

In [22]:
split_1_1.to_csv('data_/split_1_1.csv', index=False)
split_1_2.to_csv('data_/split_1_2.csv', index=False)
split_2_1.to_csv('data_/split_2_1.csv', index=False)
split_2_2.to_csv('data_/split_2_2.csv', index=False)